@media (max-width:890px) {
    .game {
        width: calc(100% - 40px);
        flex-direction: column;
    }

    .game .vertical {
        display: none;
    }

    .iframe {
        margin: 0;
    }

    .desktop {
        display: none;
    }

    .game .horizontal {
        display: block;
    }
}